<div class="container-soybean">
  <% @soybeans.each do |soybean| %>
    <div class="soybean">
      <p>🥔</p>
      <div class="popup-soybean">
        <h6><%= soybean.classification %></h6>
        <p><%= soybean.date unless soybean.date == 'absent' %></p>
        <p><%= soybean.plant_stand unless soybean.date == 'absent' %></p>
        <p><%= soybean.precip unless soybean.precip == 'absent' %></p>
        <p><%= soybean.temp unless soybean.temp == 'absent' %></p>
        <p><%= soybean.hail unless soybean.date == 'absent' %></p>
        <p><%= soybean.crop_hist unless soybean.crop_hist == 'absent' %></p>
        <p><%= soybean.area_damaged unless soybean.area_damaged == 'absent' %></p>
        <p><%= soybean.severity unless soybean.severity == 'absent' %></p>
        <p><%= soybean.seed_tmt unless soybean.seed_tmt == 'absent' %></p>
        <p><%= soybean.germination unless soybean.germination == 'absent' %></p>
        <p><%= soybean.plant_growth unless soybean.plant_growth == 'absent' %></p>
        <p><%= soybean.leaves unless soybean.leaves == 'absent' %></p>
        <p><%= soybean.leafspots_halo unless soybean.leafspots_halo == 'absent' %></p>
        <p><%= soybean.leafspots_marg unless soybean.leafspots_marg == 'absent' %></p>
        <p><%= soybean.leafspot_size unless soybean.leafspot_size == 'absent' %></p>
        <p><%= soybean.leaf_shread unless soybean.leaf_shread == 'absent' %></p>
        <p><%= soybean.leaf_malf unless soybean.leaf_malf == 'absent' %></p>
        <p><%= soybean.leaf_mild unless soybean.leaf_mild == 'absent' %></p>
        <p><%= soybean.stem unless soybean.stem == 'absent' %></p>
        <p><%= soybean.lodging unless soybean.lodging == 'absent' %></p>
        <p><%= soybean.stem_cankers unless soybean.stem_cankers == 'absent' %></p>
        <p><%= soybean.canker_lesion unless soybean.canker_lesion == 'absent' %></p>
        <p><%= soybean.fruiting_bodies unless soybean.fruiting_bodies == 'absent' %></p>
        <p><%= soybean.external_decay unless soybean.external_decay == 'absent' %></p>
        <p><%= soybean.mycelium unless soybean.mycelium == 'absent' %></p>
        <p><%= soybean.int_discolor unless soybean.int_discolor == 'absent' %></p>
        <p><%= soybean.sclerotia unless soybean.sclerotia == 'absent' %></p>
        <p><%= soybean.fruit_pods unless soybean.fruit_pods == 'absent' %></p>
        <p><%= soybean.fruit_spots unless soybean.fruit_spots == 'absent' %></p>
        <p><%= soybean.seed unless soybean.seed == 'absent' %></p>
        <p><%= soybean.mold_growth unless soybean.mold_growth == 'absent' %></p>
        <p><%= soybean.seed_discolor unless soybean.seed_discolor == 'absent' %></p>
        <p><%= soybean.seed_size unless soybean.seed_size == 'absent' %></p>
        <p><%= soybean.shriveling unless soybean.shriveling == 'absent' %></p>
        <p><%= soybean.roots unless soybean.roots == 'absent' %></p>
      </div>
    </div>
  <% end %>
</div>
